<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Sample Tests" verbose="5">
  <!-- <test name="Sample Test">
    <classes>
      <class name="vegawebtests.SampleTestNgTest"/>
    </classes>
  </test> -->
  <test name="Accounts">
    <classes>
      <class name="vegawebtests.AccountCreationTest"/>
    </classes>
  </test>
</suite>